@tailwind base;
@tailwind components;
@tailwind utilities;

#loginpage {
  background:linear-gradient(-45deg,#43C6AC,#F8FFAE);
  background-size: 400% 400%;
  animation: changebg 5s ease infinite;
}

@keyframes changebg {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

html,body{
  height:100vh;
}